<!DOCTYPE html>
<html ng-app='Hangman'>
<head>
    <title>H&nbsp;A&nbsp;N&nbsp;G&nbsp;M&nbsp;A&nbsp;N</title>

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="CSS/stylesheet.css" />

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="logic.js"></script>
</head>

<body ng-controller="WordCtrl as game">
    <div id="title">
        <label>HANGMAN</label>
    </div>

    <div class="display">
      <img id="setup" src="Assets/setup.png">
      <img id="head" ng-src="Assets/head.png" ng-hide="game.gameStart" ng-show="game.num <= 5">
      <img id="stickBody" ng-src="Assets/stick.png" ng-hide="game.gameStart" ng-show="game.num <= 4">
      <img id="leftArm" ng-src="Assets/stick.png" ng-hide="game.gameStart" ng-show="game.num <= 3">
      <img id="rightArm" ng-src="Assets/stick.png" ng-hide="game.gameStart" ng-show="game.num <= 2">
      <img id="leftLeg" ng-src="Assets/stick.png" ng-hide="game.gameStart" ng-show="game.num <= 1" >
      <img id="rightLeg" ng-src="Assets/stick.png" ng-hide="game.gameStart" ng-show="game.num == 0">
    </div>

    <div class="wordSpace">
        <label ng-repeat="letter in game.word track by $index">{{ letter }}</label>
    </div>

    <div class="userSpace">
        <div id="line1">
            <label id="lblGuess">Guess a Letter/Word:</label>
            <input id="tbxInput" type="text" name="userInput"/>
            <button id="btnEnter" ng-click="game.run()">TRY</button>
            <img src="Assets/256.png" id="wrong" ng-hide="game.gameStart" ng-hide="game.answer == true" ng-show="game.answer == false" />
            <img src="Assets/correct.png" id="correct" ng-hide="game.gameStart" ng-hide="game.answer == false" ng-show="game.answer == true"/>
        </div>
        <div id="line2">
            <label id="lblRemaining">Errors remaining:</label>
            <label id="numRemaining" ng-model="errorsRemaining">{{ game.num }}</label>
        </div>
        <div id="line3">
            <label id="lblGuessed">Guessed:</label>&nbsp;&nbsp;&nbsp;&nbsp;
        <label id="letters" ng-repeat="letter in game.wrong track by $index">{{ letter }}</label>
        </div>
    </div>
</body>

</html>
